In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('aqi_daily_1980_to_2021.csv')
df2 = pd.read_csv('aqi_yearly_1980_to_2021.csv')

In [8]:
df1.columns

Index(['State Name', 'Date', 'AQI', 'Category', 'Defining Parameter',
       'Latitude', 'Longitude', 'County Name'],
      dtype='object')

In [9]:
df2.columns

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10', 'Latitude',
       'Longitude'],
      dtype='object')

In [12]:
df1.shape

(10158527, 8)

In [13]:
df2.shape

(34186, 21)

In [14]:
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [16]:
df1.shape

(10158527, 8)

In [17]:
df_final= pd.concat([df1,df2], axis=0,ignore_index=True)

In [18]:
df_final.shape

(10192713, 27)

In [20]:
df_final.tail()

,State Name,Date,AQI,Category,Defining Parameter,Latitude,Longitude,County Name,State,County,...,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
10192708,NaN,NaN,NaN,NaN,NaN,42.928800,-109.788000,NaN,Wyoming,Sublette,...,0.0,151.0,61.0,44.0,0.0,0.0,355.0,0.0,11.0,0.0
10192709,NaN,NaN,NaN,NaN,NaN,41.763060,-108.734440,NaN,Wyoming,Sweetwater,...,1.0,1250.0,76.0,46.0,0.0,5.0,253.0,0.0,7.0,101.0
10192710,NaN,NaN,NaN,NaN,NaN,44.565217,-110.400996,NaN,Wyoming,Teton,...,0.0,161.0,54.0,42.0,0.0,0.0,329.0,0.0,37.0,0.0
10192711,NaN,NaN,NaN,NaN,NaN,41.408699,-110.702153,NaN,Wyoming,Uinta,...,0.0,122.0,51.0,40.0,0.0,2.0,225.0,0.0,0.0,139.0
10192712,NaN,NaN,NaN,NaN,NaN,43.845390,-104.205120,NaN,Wyoming,Weston,...,0.0,119.0,49.0,40.0,0.0,0.0,353.0,13.0,0.0,0.0